<%= form_for(@pelada, html: {class: "form-horizontal well col-md-6", role: "form"}) do |f| %>
    <% if @pelada.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pelada.errors.count, "error") %> impediram este formulário de ser enviado:</h2>

          <ul>
            <% @pelada.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">

      <div class="col-xs-12">

        <div class="field">

          <%= f.label :data %>
          <br>
          <%= f.datetime_select :data, class: "form-control" %>

        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">

        <div class="field">

          <%= f.label :local %>
          <br>
          <%= f.text_field :local, {class: "form-control col-md-4"} %>
        </div>
      </div>

    </div>


    <div class="form-group">

      <div class="col-xs-6">

        <div class="field">

          <%= f.label :minimo_pessoas %>
          <br>
          <%= f.number_field :minimo_pessoas, class: 'form-control' %>

        </div>

      </div>

      <div class="col-xs-6">

        <div class="field">

          <%= f.label :maximo_pessoas %>
          <br>
          <%= f.number_field :maximo_pessoas, class: 'form-control' %>

        </div>
      </div>
    </div>

    <div class="form-group">

      <div class="col-xs-6">

        <div class="field">
          <%= f.label :custo %>
          <br>
          <%= f.text_field :custo, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-6">

        <div class="field">

          <%= f.label :responsavel %>
          <br>
          <%= f.text_field :responsavel, class: 'form-control' %>
        </div>
      </div>

      </div>

      <div class="form-group">

        <div class="col-xs-6 actions">

          <div class="field">

            <%= f.submit 'Criar Pelada', class: 'btn btn-default' %>

          </div>

        </div>

      </div>


<% end %>

