<div class="container">
  <h1>Joga fácil</h1>

  <%= render partial: 'grid' %>

  <div class="well">
    <div id="local" class="row">
      <div class="col-xs-2">
        Local:
      </div>
      <div class="col-xs-10">
        <%= grid_filter @peladas_grid, :local_filter %>
      </div>
    </div>

    <div id="data" class="row">
      <div class="col-xs-2">
        Data:
      </div>
      <div class="col-xs-10">
        <%= grid_filter @peladas_grid, :data_filter %>
      </div>
    </div>
  </div>

  <%= render_grid(@peladas_grid) %>

  <%= link_to 'Nova Pelada', new_pelada_path, class: 'btn btn-default' %>

</div>

<br>


