<div class="container">

  <div class="row">

    <h2>Jogar pelada em <%= @pelada.local %> no dia <%= @pelada.data.strftime("%d/%m/%Y às %H:%M") %> </h2>

    <%= form_for(@usuario, :url => {:controller => 'peladas', :action => 'join'}, html: {class: "form-horizontal well col-md-6", role: "form"}) do |f| %>
        <% if @usuario.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

              <ul>
                <% @usuario.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>




        <div class="form-group">

          <div class="col-xs-4">

            <div class="field">
              <%= f.label :nome %>
              <br>
              <%= f.text_field :nome, class:'form-control' %>
            </div>
          </div>

          <div class="col-xs-8">

            <div class="field">
              <%= f.label :email %>
              <br>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
          </div>


        </div>


        <div class="actions">
          <%= f.submit 'Jogar essa Pelada', {'class' => 'btn btn-primary'} %>
        </div>



    <% end %>

  </div>
  <%= link_to 'Mostrar', @pelada %> |

  <%= link_to 'Voltar', peladas_path %>
</div>


