<h2>Jogar pelada em <%= @pelada.local %> no dia <%= @pelada.data.strftime("%d/%m/%Y às %H:%M") %> </h2>

<%= form_for(@usuario,:url => { :controller=> 'peladas', :action => 'join'} ) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit 'Jogar essa Pelada', {'class' => 'btn btn-primary'} %>
  </div>
<% end %>


<%= link_to 'Mostrar', @pelada %> |

<%= link_to 'Voltar', peladas_path %>
