<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @pelada.data %>
</p>

<p>
  <strong>Local:</strong>
  <%= @pelada.local %>
</p>

<p>
  <strong>Minimo pessoas:</strong>
  <%= @pelada.minimo_pessoas %>
</p>

<p>Máximo pessoas:</strong>
  <%= @pelada.maximo_pessoas %>
</p>

<p>
  <strong>Custo:</strong>
  <%= @pelada.custo %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @pelada.responsavel %>
</p>

<%= link_to 'Edit', edit_pelada_path(@pelada) %> |
<%= link_to 'Join', join_pelada_path(@pelada) %> |
<%= link_to 'Back', peladas_path %>
