<p id="notice"><%= notice %></p>

<div class="container">

  <div class="col-md-12">


    <div class="panel panel-default">

      <div class="panel-heading">
        <h2><%= @pelada.local %> dia <%= @pelada.data.strftime("%d") %> de <%= l(@pelada.data, :format => '%B') %> </h2>
      </div>

      <div class="panel-body">

        <div class="row">

          <div class="col-md-4">

            <p>
              <strong>Data:</strong>
              <%= @pelada.data.strftime("%d/%m/%Y às %H:%M") %>
            </p>

            <p>
              <strong>Local:</strong>
              <%= @pelada.local %>
            </p>

            <p>
              <strong>Minimo pessoas:</strong>
              <%= @pelada.minimo_pessoas %>
            </p>

            <p><strong> Máximo pessoas:</strong>
              <%= @pelada.maximo_pessoas %>
            </p>

            <p>
              <strong>Custo:</strong>
              <%= number_to_currency(@pelada.custo) %>
            </p>

            <p>
              <strong>Responsavel:</strong>
              <%= @pelada.responsavel %>
            </p>

          </div>

          <div class="col-md-8">

            <%= render partial: 'grid_participantes' %>
          </div>

        </div>

      </div>


    </div>

    <%= link_to 'Editar', edit_pelada_path(@pelada) %> |
    <%= link_to 'Jogar', join_pelada_path(@pelada) %> |
    <%= link_to 'Voltar', peladas_path %>

  </div>

</div>