<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Olá, <%= @username %>!</h1>

<p>
  A sua Pelada foi confirmada e acontecerá dentro de <b>aproximadamente</b> duas horas:
</p>

<ul>
  <li>Responsável:<b> <%= @pelada.responsavel %> </b> </li>
  <li>Local: <b><%= @pelada.local %> </b> </li>
  <li>Número de Jogadores: <b><%= @pelada.usuario.count %></b> </li>
  <li>Preço: <b><%= number_to_currency(@pelada.custo) %></b> </li>
  <li>Data: <b><%= @pelada.data.strftime("%d/%m/%Y às %H:%M") %></b> </li>

</ul>


<p>Obrigado por usar o Joga Fácil!</p>
</body>
</html>